@use "../foundation/" as *;

.l-header {
  position: relative;
  z-index: 100;
  height: rem(100);
  overflow: visible;
}

.l-header__logo {
  position: absolute;
  top: rem(22);
  left: rem(50);
  display: block;
  width: rem(100);
}

.l-header__logo img {
  width: 100%;
  height: auto;
}
