@use "../foundation/" as *;

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(100);
  background-color: $color-white;
  z-index: 100;
}

.l-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-left: rem(50);
}

.l-header__logo {
  display: block;
  width: rem(100);
}

.l-header__logo img {
  width: 100%;
  height: auto;
}
