@use "../../foundation" as *;

.p-reason {
  padding: rem(60) rem(20) 0;
}

.p-reason__body {
  background-color: $color-accent;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  display: flex;
  flex-direction: column;
  gap: rem(40); // TODO: 正確な余白に微調整
  padding: rem(48) 0 rem(52);

  @include mq(sp) {
    gap: rem(16);
    padding: rem(32) 0 rem(36);
  }
}

.p-reason__item {
  display: flex;
  align-items: center;
  gap: rem(24);
  width: 52%;
  background-color: $color-white;
  padding: 5%;

  @include mq(sp) {
    width: calc(100% - #{rem(20)});
    gap: rem(16);
  }
}

.p-reason__item--left {
  align-self: flex-start;
  border-radius: 0 rem(16) rem(16) 0;
  opacity: 0;
  transform: translateX(rem(-60));
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.p-reason__item--right {
  align-self: flex-end;
  border-radius: rem(16) 0 0 rem(16);
  opacity: 0;
  transform: translateX(rem(60));
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.p-reason__item--left.is-animated,
.p-reason__item--right.is-animated {
  opacity: 1;
  transform: translateX(0);
}

.p-reason__item-icon {
  flex-shrink: 0;
  width: auto;
  height: rem(60);

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

}

.p-reason__item-title {
  font-size: rem(20);
  font-weight: 700;
  letter-spacing: 0.08em;
  color: $color-accent;
  margin-bottom: rem(6);

  @include mq(sp) {
    font-size: rem(17);
  }
}

.p-reason__item-desc {
  font-size: rem(14);
  font-weight: 400;
  color: $color-text-main;
  letter-spacing: 0.05em;

  @include mq(sp) {
    font-size: rem(13);
  }
}
